.todo_wrapper, .for_form {
    margin: 20px auto;
    min-height: 400px;
    border: 3px solid rgba(200, 70, 100, 0.5);
    padding: 20px;
    text-align: center;
    box-shadow: 3px 3px 25px rgba(200, 70, 100, 0.4);
}

h1 {
    font-size: 25px;
}
table {
    margin: 25px auto;
}
td {
    background-color: lightyellow;
    padding: 5px;
}
th {
    background-color: burlywood;
}
input {
    height: 30px;
    padding-left: 5px;
}
p {
    text-align: left;
}
.add_first_time {
    line-height: 25px;
    cursor: pointer;
    animation: pulse_3 5s 5;
}
@keyframes pulse_3 {
    0% {
        color: #747474;
        font-size: 16px;
    }
    5% {
        color: #FF4500;
        font-size: 20px;
    }
    10% {
        color: #747474;
        font-size: 16px;
    }
    100% {
        color: #747474;
        font-size: 16px;
    }
}
.first_btns {
    opacity: 0;
    transition: opacity 1s;
}
.fill_inp {
    background-color: lightgreen;
    border: none;
}
.for_table thead tr th:first-of-type {
    width: 30%;
}
.for_table thead tr th:nth-child(3) {
    width: 60%;
}
.for_table td {
    text-align: left;
    vertical-align: middle;
}
.for_table td:nth-child(2), .for_table td:last-of-type {
    text-align: center;
}
button.btn-success, .add_new a {
    margin-bottom: 4px;
}
#today p {
    font-weight: bold;
}
.active {
    text-decoration: line-through;
    font-weight: normal !important;
}
.showBtns {
    opacity: 1;
    transition: opacity 1s;
}
.bg_lght_yell {
    background-color: #F4C44E;
    color: #886308;
    font-weight: bold;
}
.bg_lght_green {
    background-color: #9BE7AC;
    color: #19692C;
}
@media (max-width: 950px) {
    .todo_wrapper, .for_form {
        min-height: 100px;
        padding: 4px;
    }
}
